<header class="" role="banner">

  <div class="custom-wrapper flex items-center py-4">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="text-xl whitespace-nowrap" rel="author" href="{{ " /" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
    <nav class="w-full flex justify-end items-center">
      {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      <a class="" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {%- endif -%}
      {%- endfor -%}
    </nav>
    {%- endif -%}
  </div>
</header>